body{
    margin: 0;
    padding: 0;
    
}
.form{
    display:  flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    row-gap: 20px;
    padding: 15px;
    border-radius: 20px; 
}
.container{
    background-color:bisque; 
    height: 100vh;
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;;
}
.btn{
    display: flex ;
    justify-content: center;
    margin-top: 10px;
}
button{
    height: 30px;
    width: 80px;
    background-color:coral;
    border-radius: 10px;
}
#preview {
    width: 20vb;
    height: 20vh;
 }
 